/* src/components/Projects.css */
.projects {
    padding: 50px 20px;
    background-color: #eaeaea;
  }
  
  .projects h2 {
    text-align: center;
    color: #333;
  }
  
  .projects ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .projects li {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  